.navbar-brand>img {
    max-height: 100%;
    height: 100%;
    width: auto;
    margin: 0 auto;
 }
 .navbar-brand,
 .navbar-nav li a {
     line-height: 80px;
     height: 80px;
     padding-top: 0;
 }
 .nav a{
     color: black !important;
     font-size: 1.8em !important;
     }
 .nav li{
     padding-right:20px;
     padding-top:20px;
     padding-left:20px;
    }