{% extends "base.html" %}
{% load static %}
{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-2">
            <div class="card border-light mb-3" style="width: 18rem;">
                <img src="{% static 'images/jonesn-thumb.png' %}" class="card-img-top" alt="jones">
                <div class="card-body">
                    <h4 class="card-title">Dr. Nadia J Jones</h4>
                    Blurb from teacher
                    <br>
                    <br>
                    <a href="#" class="btn btn-primary">Go to Bio</a>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
{% endblock %}